
<div class="abs">
    <ul>
        
        <li class="rt"><a routerLink="/register">SignUp</a></li>
        <li class="rt"><a routerLink="/login">Login</a></li>
        <li class="rt"><a routerLink="#">Support</a></li>
        
        
      </ul>
  </div>
<form action="" class="form-container" [formGroup]="registerForm" (ngSubmit)="OnSubmit()">
    <mat-card class="w-50">
      <mat-card-header>
      </mat-card-header>
      <mat-card-content>
        <h1 class="cursive">Register</h1>
        <div class="row c-row">
          <mat-form-field>
            <mat-label class="f-size16">
              <mat-icon class="f-size25" [class.c-purple]="true" matPrefix>account_circle</mat-icon>
              Enter Name
            </mat-label>
            <input class="h30 f-size18" matInput type="text" formControlName="Name" required>
          </mat-form-field>
        </div>
   
        <div class="row c-row">
          <mat-form-field>
            <mat-label class="f-size16">
              <mat-icon [class.c-purple]="true" class="f-size25" matPrefix>email</mat-icon>
              Enter Email
            </mat-label>
            <input class="h30 f-size18" matInput type="email"  formControlName="Email" required [pattern]='emailPattern'>
          </mat-form-field>
        </div>

        <div class="row c-row">
          <mat-form-field>
            <mat-label class="f-size16">
              <mat-icon [class.c-purple]="true" class="f-size25" matPrefix>phone</mat-icon>
              Enter Phone
            </mat-label>
            <input class="h30 f-size18" matInput type="phone" formControlName="Phone" required>
          </mat-form-field>
        </div>

        <div class="row c-row">
          <mat-form-field>
            <mat-label class="f-size16">
              <mat-icon [class.c-purple]="true" class="f-size25" matPrefix>password</mat-icon>
              Enter Passowrd
            </mat-label>
            <input class="h30 f-size18" matInput type="password"  formControlName="Password" required >
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions class="dflex">
        <button mat-raised-button color="primary"  class="btn-large">Register</button>
      </mat-card-actions>
    </mat-card>
</form>
