<div>
    <ul>
        <li class="rt"><a routerLink="/register">SignUp</a></li>
        <li class="rt"><a routerLink="/login">Login</a></li>
        <li class="rt"><a routerLink="#">Support</a></li>
        
        
      </ul>
</div>
<div class="b-cont">
    <div class="left">
        <div>
            <div>
                
              </div>
            <h1 class="hero-title">Name: {{ Name }}</h1>
            <h1 class="hero-title">Email: {{ Email }}</h1>
            <a routerLink="/login">
                <button class="get-started-btn" type="button">
                    <span>Get started</span> 
                </button>
            </a>
        </div>
    </div>
    <div class="right">
        <img src="../assets/think.jpg" alt="" srcset="">
    </div>
</div>
